# DEVELOPMENT TOOLS
VITE_HASURA_URL="https://api.slicktelemetry.com"
VITE_HASURA_GRAPHQL_URL="https://api.slicktelemetry.com/v1/graphql"
VITE_HASURA_ROLE="public"

VITE_MAPBOX_TOKEN="CONTACT_CRIS_OR_MAPBOX_ACCT_FOR_TOKEN"
